.container {
  margin: 5px;
  padding: 5px;
}

.container * {
  color: #f9f9f9;
  font-family: 'JetBrainsMono';
  font-size: 14px;
  user-select: none;
}

.line > .lineNumber {
  width: 30px;
  color: #c5c5c5;
}

.input {
  background-color: #2c4854;
  outline: none;
  border: solid 1px #426d80;
  padding: 5px;
  margin: 5px;
}
